<h1>Lista pacjentów</h1>
<div>
 <% if can? :create, Patient %> <%= link_to "Dodaj pacjenta", new_patient_path %> <% end %>
 <% if can? :create, Patient %> <%= link_to "Generuj plik", patients_path(format:"xls") %> <% end %>
</div>
<% if @patients.present? %>
  <% @patients.each do |p| %>
    <div style="border-color: #B00100; border-style: double">
      <div>Pacjent : <%= p.name + " " + p.surename %></div>
      <div>Pesel : <%= p.personal_identify_number %></div>
      <div><% if can? :edit, p %>  <%= link_to 'Edytuj', edit_patient_path(p.id) %> <% end %></div>
      <div><% if can? :delete, p %>  <%= link_to 'Usuń', patient_path(p.id) ,:method => :delete, data: {:confirm => "Czy jesteś pewien?" } %> <% end %></div>

      <% if p.notes.present? %>
        <% p.notes.each do |n| %>
          <div>
            Treść notatki : <%= n.description %> z dnia <%= n.created_at %>
          </div>

        <% end %>
      <% end %>

      <% if p.surveys.present? %>
        <% p.surveys.each do |s| %>
          <div>Badanie z dnia : <%= s.created_at %>
            <div>Ciśnieni skurczowe : <%= s.systolic_blood_pressure %></div>
            <div>Ciśnienie rozkurczowe : <%= s.diastolic_blood_pressure %></div>
            <div>Puls : <%= s.pulse %></div>
            <div>Poziom cukru : <%= s.sugar_level %></div>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
<% end %>