<% if user_signed_in? %>
  <h4>TO JEST HEADER</h4>
  <div>
    Oddział :   <%= current_user.department.name %>
  </div>
  <div>
    Obecnie zalogowany użytkownik :   <%= current_user.name %>
  </div>
  <div>
    <%= link_to "Strona główna", root_path %>
    <%= link_to "Pacjenci", patients_path %>
    <%= link_to "Badania", surveys_path %>
    <!--  <%#= link_to "Lekarze",  %></div>-->
    <%= link_to "Notatki", notes_path %>

    <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %>

  </div>

<% else %>

  <%= link_to "Rejestracja", new_user_registration_path %>
  <%= link_to "Logowanie", new_user_session_path %>

<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>